# Virtual environment
venv/
.venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Test-related files
htmlcov/
.coverage
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/

# Log files
# *.log

# Temporary files
*.tmp
*.swp

# Sensitive data (example)
.env

# Data
data/
network-prediction/src/experiments/
network-prediction/src/output-models/
network-prediction/output-models/
multi-step-attack/logs/


# abcrown
verification/complete_verifier
verification/*.npz
verification/abcrown_scripts/spec
verification/abcrown_scripts/results
verification/abcrown_scripts/yaml
verification/abcrown_scripts/*.txt
verification/abcrown_scripts/*.pkl
verification/abcrown_scripts/onnx_models
verification/logs